container {
  height: 100vh;
  display: grid;
  grid-template-areas:
  'navbar'
  'search'
  'main'
  'footer';
  grid-template-rows: 8% 10% auto 8%;
}

navbar {
  grid-area: navbar;
  background-color: #ffc300;
  color: #ffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.search-container {
  font-size: 14px;
  grid-area: search;
  background-color: #cfccbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  width: 80%;
  border: none;
  border-radius: 3px;
  padding: 3px 0;
}

main {
  grid-area: main;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
  padding: 10px 0;
}

.card:hover {
  opacity: 1;
}

.image {
  height: auto;
  background-image: url("../img/ann_1-3.webp");
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  width: 90%;
}

.product {
  padding: 10px 0;
}

.card2 {
  display: none;
}

button {
  border: none;
  border-radius: 3px;
  color: #ffff;
  background-color: #ffc300;
}

footer {
  background-color: #ffc300;
  color: #ffff;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width:992px) {
  container {
    grid-template-areas: 
    'navbar search'
    'navbar main'
    'footer main'
    ;
    grid-template-columns: 2fr 11fr;
    grid-template-rows: 8% auto 10%;
  }

  navbar {
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 10px;
  }

  .bars {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .search-container {
    padding: 0 20px;
  }

  select {
    width: 100%;
  }

  footer {
    font-size: 14px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    gap: 11px;
  }

  .card {
    width: 24%;
  }

  .image {
    min-height: 214px;
  }

  .card2 {
    display: flex;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }

  .card2:hover {
    opacity: 1;
  }

  .footer-text {
    font-size: 11px;
    text-align: center;
    padding: 0 10px;
  }
}