container {
  height: 100vh;
  display: grid;
  grid-template-areas:
  'navbar'
  'search'
  'main'
  'footer';
  grid-template-rows: 8% 10% auto 8%;
}

@media (min-width: 992px) {
  container {
      grid-template-areas: 
      'navbar search'
      'navbar main'
      'footer main'
      ;
      grid-template-columns: 1fr 10fr;
      grid-template-rows: 10% auto 10%;
  }
}

navbar {
  grid-area: navbar;
  background-color: #ffc300;
  color: #ffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  grid-area: search;
  background-color: #cfccbf;
}

select {
  width: 80%;
  border: none;
  border-radius: 3px;
  padding: 3px 0;
}

main {
  grid-area: main;
}

footer {
  background-color: #ffc300;
  color: #ffff;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}